<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>REZEPTstation</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'homepage'" (click)="cancel()"> Startseite </a>
      <a mat-button  (click)="addRecipe()" (click)="cancel()"> Rezepte hinzufügen</a>
      <a mat-button [routerLink]="'friends'" (click)="cancel()"> Freunde </a>
      <a mat-button (click)="logout()" [routerLink]="'login'" class="btn_abmelden"> Abmelden </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
