<div style="margin: 30px">
  <h1>Freunde</h1>

  <div class="contentBox">
    <h2>Finde neue Freunde</h2>
    <form [formGroup]="findFriendsForm">
      <label>Benutzername:
        <input type="text" formControlName="name" required>
      </label>
      <button mat-flat-button color="primary" (click)="searchUsers()">Suchen</button>
    </form>

    <div *ngIf="userList.length > 0">
      <table>
        <tr *ngFor="let user of userList">
          <td>
            <button (click)="sendRequest(user.userID)" mat-mini-fab aria-label="Anfrage schicken" color="primary" matTooltip="Als Freund hinzufügen">
              <mat-icon>add</mat-icon>
            </button>
          </td>
          <td>{{user.username}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="contentBox" *ngIf="friendsRequests.length > 0">
    <h2>Freundschaftsanfragen</h2>
    <table>
      <tr *ngFor="let request of friendsRequests">
        <td>
          <button (click)="confirmRequest(request)" mat-mini-fab aria-label="Anfrage annehmen" matTooltip="Anfrage annehmen">
            <mat-icon>check</mat-icon>
          </button>
          <button (click)="deleteRequest(request)" color="warn" mat-mini-fab aria-label="Anfrage ablehnen" matTooltip="Anfrage ablehnen">
            <mat-icon>clear</mat-icon>
          </button>
        </td>
        <td>{{request.username}}</td>
      </tr>
    </table>
  </div>

  <div class="contentBox">
    <h2>Meine Freunde</h2>
    <table>
      <tr *ngFor="let friend of myFriends">
        <td>
          <button (click)="deleteFriend(friend)" color="warn" mat-mini-fab aria-label="Frend entfernen" matTooltip="{{friend.username}} entfernen">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td>{{friend.username}}</td>
      </tr>
    </table>
  </div>
</div>



