
<div class="login">
  <div *ngIf="account; then login else register"></div>

  <ng-template #login>
    <h2>Anmelden</h2>
    <form [formGroup]="loginForm">
      <table>
        <tr>
          <td>Benutzername:</td>
          <td>
            <label>
              <input class="login-input" type="text" formControlName="userName" required>
            </label>
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <label>
              <input type="password" formControlName="password" required>
            </label>
          </td>
        </tr>
      </table>
      <button (click)="onSubmitLogin()" mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">
        Login
      </button>
    </form>
    <label>Noch kein Konto? → </label>
    <button mat-button color="primary" (click)="account = !account">Registrieren</button>
  </ng-template>

  <ng-template #register>
    <form [formGroup]="registerForm">
      <h2>Registrieren</h2>
      <table>
        <tr>
          <td>E-Mail:</td>
          <td>
            <label>
              <input class="login-input" type="email" formControlName="email" required>
            </label>
          </td>
        </tr>
        <tr>
          <td>Benutzername:</td>
          <td>
            <label>
              <input class="login-input" type="text" formControlName="userName" required>
            </label>
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <label>
              <input name="password" type="password" formControlName="password" required>
            </label>
          </td>
        </tr>
        <tr>
          <td>Password bestätigen:</td>
          <td>
            <label>
              <input name="password2" type="password" formControlName="confirmPassword" required>
            </label>
          </td>
        </tr>
      </table>
      <button mat-flat-button (click)="onSubmitRegister()" color="primary" [disabled]="!registerForm.valid" type="submit">
        Registrieren
      </button>
    </form>
    <button mat-button color="primary" (click)="account = !account">Zurück zum Login</button>
  </ng-template>
</div>


