<div class="content">
  <div class="header">
    <br>
    <br>
<h1 class="header" id="rezeptname" >Rezeptname </h1>
    <button mat-stroked-button color="primary" class="btn_save" id="btn_save" type="submit">Speichern</button>
    <button mat-stroked-button color="primary" class="btn_cancel" id="btn_cancel">Abbrechen</button>
  <button (click)="edit()" id="edit" style="margin-left: 150px" mat-icon-button class="header">
    <mat-icon>edit</mat-icon>
  </button>
  <button (click)="deleteRecipe()" id="delete" mat-icon-button class="header">
    <mat-icon>delete</mat-icon>
  </button>
    <hr>
    <br>
    <br>
  </div>
<div class="body">
  <div class="img">
  <img src="https://cdn.pixabay.com/photo/2013/04/01/21/30/photo-99135_1280.png" id="picture_meal" width="150" alt="Meal">
  </div>
  <div class="tags">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Fish selection">
  <mat-chip id="duration_label" color="primary" selected><mat-icon>
    query_builder</mat-icon>Dauer</mat-chip>
  <mat-chip id="difficulty_label" color="primary" selected >Schwierigkeit</mat-chip>
  <mat-chip id="author_label" color="primary" selected>Autor</mat-chip>
</mat-chip-list>




    <!--<mat-form-field appearance="fill">
      <mat-label>Foto hochladen...</mat-label>
      <input type="file" #fileInput id="uploadFile" name="uploadFile" multiple="multiple"
             accept="image/*"/>
    </mat-form-field>
    <br> -->

    <!-- <mat-form-field appearance="fill">
      <mat-label>Dauer</mat-label>
      <input matInput placeholder="Dauer" height="10">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Schwierigkeit</mat-label>
      <input matInput placeholder="Schwierigkeit">
    </mat-form-field>
    <br>
    <mat-radio-button value="1">Öffentlich</mat-radio-button> -->
    <div id="recipeData" style="display: none">
      <table>
        <tr>
          <td><mat-label>Bild hochalden: </mat-label></td>
          <td>
            <input id="picture" type="file" accept="image/*" (change)="uploadPicture()"/>
          </td>
        </tr>
        <tr>
          <td><mat-label>Dauer: </mat-label></td>
          <td>
            <input type = "text" id="duration"/>
          </td>
        </tr>
        <tr>
          <td>    <mat-label>Schwierigkeit: </mat-label></td>
          <td>
            <input type = "text" id="difficulty"/>
          </td>
        </tr>
        <tr>
          <td><mat-label>Öffentlich: </mat-label></td>
          <td>
            <input type="checkbox" id="btn_visible"/>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Kategorien</mat-label>
              <mat-select [formControl]="categories" id ="categories" multiple>
                <mat-option id="category" (onSelectionChange)="getCategory($event)" *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>


      <!-- <mat-checkbox value="1" id="btn_visible">Öffentlich</mat-checkbox> -->


    </div>



  <!--  <form method="post">
      <input type = "hidden" value = "1" name="UserID"/>
      <input type = "text" name="Name" id = "rezeptname"/>
      <input type = "submit" (click)="post()"/>
    </form> -->
    <br/>
    <br>
    <br>
  </div>
</div>
  <div class="footer">
    <br>
<h3>Zutaten:</h3>
<ul id="Zutatenliste">
  <li>    <button mat-stroked-button color="primary" class="btn_add" id="btn_addIngredient">Zutat hinzufügen</button>
  </li>
</ul>
<h3>Anweisungen:</h3>
    <ol id="Anweisungsliste">
      <li>    <button mat-stroked-button color="primary" class="btn_add" id="btn_addStep">Schritt hinzufügen</button>
      </li>
    </ol>
  </div>
</div>






