@import '~@angular/cdk/overlay-prebuilt.css';

.content {
  margin: 20px;
}
.mat-chip-list .mat-chip {
  width: auto;
  min-height: max-content;
  min-width: 0;
}

.table {
  margin-left: 300px;
}

mat-label{
  color: black;
  margin-left: 10px;
}

mat-form-field{
  background-color: #bdbdbd;
  margin-left: 30px;
}

mat-checkbox{
  background-color: #bdbdbd;
  margin: 20px;
}

#filterbar{
  background-color: #bdbdbd;
  margin-bottom: 20px;
  border-radius: 25px
}
